body{
    background-color: burlywood;
    text-align: center;
}

h1{
    font-size: 22pt;
    text-decoration: underline;
    font-style: italic;
}

a{
    color:black;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    border: blue solid 2px;
    background-color: aquamarine;
}

label{
    font-weight: bold;
    font-size: 16pt;
}